* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
}
a {
  color: inherit;
  text-decoration: none;
}

.heading-wrapper {
  position: fixed;

  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 70px;
  background: #fff;
}
.contact {
  margin-top: 100px;
}
.ul {
  width: 400px;
  list-style-type: none;
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
}

.rightside > ul > li {
  height: 30px;
  width: 100px;
  font-size: medium;
  text-align: center;
  color: #001d3d;
  flex-basis: 60px;
  border-radius: 5px;
  outline: none;
  padding-top: 5px;
  align-items: center;
  margin-top: 2%;
  font-size: 16px;
}
.rightside > ul > li > link {
  text-decoration: none;
}
.rightside > ul > li:hover {
  background-color: #ffc300;
  cursor: pointer;
}
.log-btn {
  background-color: white;
  height: 30px;
  color: black;
  flex-basis: 60px;
  border: none;

  border-radius: 7px;
  outline: none;
  /* height: 100%;
  width: 100%; */
  margin-top: 2px;
  padding-top: 2px;
  font-size: 16px;
}
.log-btn:hover {
  background-color: #ffc300;
  cursor: pointer;
}

img {
  height: 40px;
  width: 40px;
  padding: 10px;
}
.card {
  width: 200px;
  padding: 1%;
  margin: 20px;
  word-wrap: break-word;
}
.card > img {
  width: 100%;
  height: auto;
  border: 1.5px red solid;
  padding: 0;
}
.search-area {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  max-width: 500px;
  align-items: center;
  margin: 79px auto 0 auto;
  /* margin-top: 79px; */
}
.search-area > input {
  /* height: 30px; */
  flex-basis: 350px;
  appearance: none;
  background-color: #eeeeee;
  border: 0px inset rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.search-area > button {
  background-color: #ffc300;
  height: 29px;
  color: #001d3d;
  flex-basis: 60px;
  border-radius: 7px;
  border: #ffc300;
  outline: none;
  font-size: 16px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.link-styles,
.card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
}
.card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card > img {
  width: 100%;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
  word-spacing: 2px;
  width: 60%;
}
.card-tags {
  color: #686b78;
  font-size: 12px;
  width: 80%;
}
.card-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  color: #535665;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
}
.rating {
  display: flex;
  align-items: center;
  height: 20px;
  width: 43px;
  padding: 0 5px;
  gap: 5px;
}
.Restaurant-list {
  display: flex;

  margin: 20px;
  /* overflow-wrap:inherit;
   */
  justify-content: center;
  flex-wrap: wrap;
}
.body {
  background-color: aqua;
}
.shimmerclass {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer-card {
  border: 1px solid black;
  width: 200px;
  height: 250px;
  padding: 1%;
  margin: 20px;
  display: flex;
  word-wrap: break-word;
}
.shimmer-img {
  width: 100%;
  height: 120px;
  background-color: grey;
}
.error {
  text-align: center;
  align-content: center;
}
.error > h1 {
  color: red;
}
.menu-left {
  align-items: center;
}
.menu-left > img {
  width: 400px;
  height: auto;
}
.menu-page {
  display: flex;
  align-content: center;
  margin-top: 100px;
  justify-content: center;
}
.menu-left {
  width: 40vw;
}
.menu-right {
  width: 40vw;
  word-wrap: break-word;
}
.menu-item {
  margin-top: 4px;
  text-decoration: none;
}
.menu-item > li {
  font-weight: bold;
  display: inline;
  justify-content: space-between;
}

/* Responsive layout */
@media (max-width: 800px) {
  .heading-wrapper {
    flex-direction: column;
    width: auto;
    height: auto;
  }
}
